<section>
  <app-calendar [tasksDate]="dates" [tasks]="tasks" />
  <header>
    Organizer: <strong> {{ dateOfTask }}</strong>
    <hr />
  </header>
  <main>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <div>
          <span>{{ i + 1 }}. </span>

          <div (click)="toggleTask(task.id)">
            <div *ngIf="idChange !== task.id; else showInput">
              <span [class.done]="task.isDone">{{ task.task }}</span>
            </div>
          </div>
        </div>
        <ng-template #showInput>
          <form (ngSubmit)="onSubmitChange(task)" [formGroup]="form">
            <input
              type="text"
              [defaultValue]="task.task"
              formControlName="task"
            />

            <button class="btn btn-secondary w100">Change</button>
          </form>
        </ng-template>
        <div *ngIf="idChange === task.id">
          <button class="btn btn-primary" (click)="cancel()">
            Cancel changes
          </button>
        </div>
        <div *ngIf="idChange !== task.id">
          <button class="btn btn-primary" (click)="makeDone(task)">Done</button>
          <button class="btn btn-primary" (click)="removeTask(task)">
            Remove
          </button>
        </div>
      </li>
    </ul>
    <ng-template #noTasks>
      <p>No tasks yet</p>
    </ng-template>
    <footer>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <label for="deal">
          <input type="text" id="deal" formControlName="task" />
        </label>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="form.invalid"
        >
          ADD
        </button>
      </form>
    </footer>
  </main>
</section>
