<app-selector />
<button class="calendarButton" mat-raised-button (click)="picker.open()">
  <mat-icon> calendar_month </mat-icon>
</button>

<table>
  <div class="calendarPicker">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (dateInput)="selectDay($event.value)"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="example-events">
      <div>{{ events }}</div>
    </div>
  </div>
  <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wen</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of calendar">
      <td
        *ngFor="let day of week.days"
        [class.disabled]="day.disabled"
        (click)="selectDay(day.value)"
        [class.active]="day.active"
      >
        <span [class.selected]="day.selected">
          {{ day.value | moment : "DD" }}
        </span>
        <div
          *ngIf="tasksDate.includes(day.value.format('DD-MM-YYYY'))"
          class="isTasks"
        ></div>
        <div *ngIf=""></div>
      </td>
    </tr>
  </tbody>
</table>
